In [1]:
import pandas as pd
import numpy as np
import random

import seaborn as sns
import matplotlib.pyplot as plt

from tqdm import tqdm
import random
from collections import Counter

In [2]:
zomato = pd.read_csv('./data/zomato_preprocessed.csv')
zomato = zomato.assign(order_time=pd.to_datetime(zomato['order_time']))
zomato

,order_id,order_time,analytical_customer_id,is_acquisition,is_successful,reason,sub_reason,owner,delivery_arrangement,gmv_amount_lc,...,is_affordable_gem,is_affordable_restaurant,is_affordable_voucher,is_affordable,affordability_amt_total,City,pay_amount,is_consistent,afford_ratio,is_gold
0,543991243,2021-09-01 00:00:51,ygyH_eaSHCTSSgAda33qDLYA,False,True,NaN,NaN,NaN,TGO,67.43,...,False,False,False,True,13.486,Chennai,53.944,False,20.0,False
1,543992115,2021-09-01 00:02:50,vagdCBP6L9S461DAPk0tNs-A,False,True,NaN,NaN,NaN,TGO,53.50,...,False,False,False,True,NaN,Mumbai,53.500,True,NaN,False
2,543992763,2021-09-01 00:04:26,65RUZmnykIRzyWaqnOaB_EdQ,False,False,LATE_DELIVERY,NaN,VENDOR,TGO,72.99,...,False,False,False,False,NaN,Chennai,72.990,True,NaN,False
3,543993755,2021-09-01 00:06:41,THNssTsOurRqOJf9sQEhwiRg,False,True,NaN,NaN,NaN,TGO,206.00,...,False,False,False,False,NaN,Chennai,206.000,True,NaN,False
4,543994010,2021-09-01 00:07:13,OGX49Bsq0pR5qB32sT83JhSg,False,True,NaN,NaN,NaN,TGO,100.99,...,False,False,False,False,NaN,Chennai,100.990,True,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118275,644315564,2022-01-02 23:57:08,xdSbyNHiYORwiK2AHYieL5UQ,False,False,CUSTOMER_MISTAKE_ERROR,Changed mind - Mistake / Error,CUSTOMER,TGO,147.49,...,False,False,False,False,NaN,Chennai,147.490,True,NaN,False
118276,644315682,2022-01-02 23:57:25,AYeFPGmOUyT4OIWfmTSCYikw,False,True,NaN,NaN,NaN,TGO,110.49,...,False,False,False,False,NaN,Coimbatore,110.490,True,NaN,False
118277,644316048,2022-01-02 23:58:05,COnO0tda5iSTa-t5dFFVTpwg,False,False,ONLINE_PAYMENT,NaN,CUSTOMER/PLATFORM,TGO,112.49,...,False,False,False,False,NaN,Chennai,112.490,True,NaN,False
118278,644316064,2022-01-02 23:58:07,iI6rRPz2LkRi2Ct0zTaksrOA,False,True,NaN,NaN,NaN,TGO,739.24,...,False,False,False,False,NaN,Chennai,739.240,True,NaN,False
118279,644316835,2022-01-02 23:59:45,no7BPkiah_Q6aFLZi2ugR4kQ,False,True,NaN,NaN,NaN,TGO,147.00,...,False,False,False,False,NaN,Mysore,147.000,True,NaN,False

In [3]:
# 광고 수익 -> 어떻게 난수를 뿌릴 것인가
# 꽤나 큰 비중으로? 76%가 광고 수익에서 나오는데

# RFM, 6개월의 이력으로 계산 
# -> R <- 최근 Success 구매일로부터 현재까지의 날짜 차이
 
# 쿠폰 수수료 ? 제할 것인가 ?

In [105]:
zomato_gold = zomato[zomato['is_gold']==True].reset_index(drop=True)
zomato_regular = zomato[zomato['is_gold']==False].reset_index(drop=True)

In [ ]:
# commercial value
# 광고수익은 노출 단위 횟수 당 광고주가 지불하는 비용
# 어느 정도 크기의 난수를 줄 것인가는 해보고 판단

In [89]:
#광고가 10개 정도 있다고 가정

weight = [0.1, 0.02, 0.15, 0.25, 0.15, 0.1, 0.1, 0.06, 0.04, 0.03]

commercial = [[5, 6], [9, 10], [6, 8], 
              [5, 6], [5, 7], [6, 8], [5, 7],
              [7, 8], [8, 9], [7, 10]]

In [104]:
commercial_fee_range = commercial[random.randint(0, 9)]
print(round(random.uniform(commercial_fee_range[0], commercial_fee_range[1]), 2))

7.0

In [106]:
zomato_gold = zomato_gold.assign(ad_revenue=np.NaN)
zomato_gold

,order_id,order_time,analytical_customer_id,is_acquisition,is_successful,reason,sub_reason,owner,delivery_arrangement,gmv_amount_lc,...,is_affordable_restaurant,is_affordable_voucher,is_affordable,affordability_amt_total,City,pay_amount,is_consistent,afford_ratio,is_gold,ad_revenue
0,544311540,2021-09-01 14:52:45,2UwQnNjWHuT4WCiQjqU3NXEA,False,True,NaN,NaN,NaN,TGO,214.99,...,False,False,True,75.0,Chennai,214.99,True,25.86,True,NaN
1,544319257,2021-09-01 15:03:41,Xz8c3G8OL1SjOJac8nG8oIBg,False,True,NaN,NaN,NaN,TGO,150.00,...,False,False,True,75.0,Manali,150.00,True,33.33,True,NaN
2,544328121,2021-09-01 15:16:06,4-G8YphWitQ1WGEBhDQX7hVA,False,True,NaN,NaN,NaN,TGO,117.99,...,False,False,True,50.0,Chennai,117.99,True,29.76,True,NaN
3,544337601,2021-09-01 15:29:24,sygS7rYWPWTiWlJbY6TNA_1A,False,True,NaN,NaN,NaN,TGO,369.25,...,False,False,True,100.0,Chennai,369.25,True,21.31,True,NaN
4,544650932,2021-09-01 21:08:27,k6l2wtgeGBQieO6pgHc2SUfw,False,True,NaN,NaN,NaN,TGO,241.99,...,False,False,True,100.0,Delhi,241.99,True,29.24,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13199,644302413,2022-01-02 23:30:13,weqmoYLqteQ8qOq_LXKnpLcw,False,True,NaN,NaN,NaN,TGO,197.49,...,False,False,False,NaN,Chennai,197.49,True,NaN,True,NaN
13200,644302615,2022-01-02 23:30:39,zMdSeVGGvOSaGOEsGuuh0a5Q,False,True,NaN,NaN,NaN,TMP,505.00,...,False,False,False,NaN,Chennai,505.00,True,NaN,True,NaN
13201,644304210,2022-01-02 23:33:51,spUunm1CSpRuCuVI1KUevbfg,False,True,NaN,NaN,NaN,TGO,89.99,...,False,False,False,NaN,Mysore,89.99,True,NaN,True,NaN
13202,644307249,2022-01-02 23:39:57,4X6t0M7aZkQGaooy72SktXfg,False,True,NaN,NaN,NaN,TGO,255.44,...,False,False,False,NaN,Chennai,255.44,True,NaN,True,NaN
13203,644315424,2022-01-02 23:56:48,UiiaJ3k-sZR2-0lYkqGXuZBg,False,True,NaN,NaN,NaN,TGO,96.99,...,False,False,False,NaN,Gurgaon,96.99,True,NaN,True,NaN

In [110]:
for i in tqdm(range(zomato_regular.shape[0])) : 
    commercial_fee_range = commercial[random.randint(0, 9)]
    commercial_fee = round(random.uniform(commercial_fee_range[0], commercial_fee_range[1]), 2)
    zomato_regular.loc[zomato_regular.index==i, 'ad_revenue'] = commercial_fee

100%|████████████████████████████████████████████████████████████████████████| 105076/105076 [00:34<00:00, 3019.82it/s]

In [111]:
zomato_regular

,order_id,order_time,analytical_customer_id,is_acquisition,is_successful,reason,sub_reason,owner,delivery_arrangement,gmv_amount_lc,...,is_affordable_restaurant,is_affordable_voucher,is_affordable,affordability_amt_total,City,pay_amount,is_consistent,afford_ratio,is_gold,ad_revenue
0,543991243,2021-09-01 00:00:51,ygyH_eaSHCTSSgAda33qDLYA,False,True,NaN,NaN,NaN,TGO,67.43,...,False,False,True,13.486,Chennai,53.944,False,20.0,False,5.44
1,543992115,2021-09-01 00:02:50,vagdCBP6L9S461DAPk0tNs-A,False,True,NaN,NaN,NaN,TGO,53.50,...,False,False,True,NaN,Mumbai,53.500,True,NaN,False,9.17
2,543992763,2021-09-01 00:04:26,65RUZmnykIRzyWaqnOaB_EdQ,False,False,LATE_DELIVERY,NaN,VENDOR,TGO,72.99,...,False,False,False,NaN,Chennai,72.990,True,NaN,False,6.92
3,543993755,2021-09-01 00:06:41,THNssTsOurRqOJf9sQEhwiRg,False,True,NaN,NaN,NaN,TGO,206.00,...,False,False,False,NaN,Chennai,206.000,True,NaN,False,5.83
4,543994010,2021-09-01 00:07:13,OGX49Bsq0pR5qB32sT83JhSg,False,True,NaN,NaN,NaN,TGO,100.99,...,False,False,False,NaN,Chennai,100.990,True,NaN,False,7.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105071,644315564,2022-01-02 23:57:08,xdSbyNHiYORwiK2AHYieL5UQ,False,False,CUSTOMER_MISTAKE_ERROR,Changed mind - Mistake / Error,CUSTOMER,TGO,147.49,...,False,False,False,NaN,Chennai,147.490,True,NaN,False,6.62
105072,644315682,2022-01-02 23:57:25,AYeFPGmOUyT4OIWfmTSCYikw,False,True,NaN,NaN,NaN,TGO,110.49,...,False,False,False,NaN,Coimbatore,110.490,True,NaN,False,9.90
105073,644316048,2022-01-02 23:58:05,COnO0tda5iSTa-t5dFFVTpwg,False,False,ONLINE_PAYMENT,NaN,CUSTOMER/PLATFORM,TGO,112.49,...,False,False,False,NaN,Chennai,112.490,True,NaN,False,7.36
105074,644316064,2022-01-02 23:58:07,iI6rRPz2LkRi2Ct0zTaksrOA,False,True,NaN,NaN,NaN,TGO,739.24,...,False,False,False,NaN,Chennai,739.240,True,NaN,False,5.17
105075,644316835,2022-01-02 23:59:45,no7BPkiah_Q6aFLZi2ugR4kQ,False,True,NaN,NaN,NaN,TGO,147.00,...,False,False,False,NaN,Mysore,147.000,True,NaN,False,9.04

In [115]:
zomato_concat = pd.concat([zomato_gold, zomato_regular], axis=0)
zomato_concat = zomato_concat.sort_values('order_time').reset_index(drop=True)
zomato_concat

,order_id,order_time,analytical_customer_id,is_acquisition,is_successful,reason,sub_reason,owner,delivery_arrangement,gmv_amount_lc,...,is_affordable_restaurant,is_affordable_voucher,is_affordable,affordability_amt_total,City,pay_amount,is_consistent,afford_ratio,is_gold,ad_revenue
0,543991243,2021-09-01 00:00:51,ygyH_eaSHCTSSgAda33qDLYA,False,True,NaN,NaN,NaN,TGO,67.43,...,False,False,True,13.486,Chennai,53.944,False,20.0,False,5.44
1,543992115,2021-09-01 00:02:50,vagdCBP6L9S461DAPk0tNs-A,False,True,NaN,NaN,NaN,TGO,53.50,...,False,False,True,NaN,Mumbai,53.500,True,NaN,False,9.17
2,543992763,2021-09-01 00:04:26,65RUZmnykIRzyWaqnOaB_EdQ,False,False,LATE_DELIVERY,NaN,VENDOR,TGO,72.99,...,False,False,False,NaN,Chennai,72.990,True,NaN,False,6.92
3,543993755,2021-09-01 00:06:41,THNssTsOurRqOJf9sQEhwiRg,False,True,NaN,NaN,NaN,TGO,206.00,...,False,False,False,NaN,Chennai,206.000,True,NaN,False,5.83
4,543994010,2021-09-01 00:07:13,OGX49Bsq0pR5qB32sT83JhSg,False,True,NaN,NaN,NaN,TGO,100.99,...,False,False,False,NaN,Chennai,100.990,True,NaN,False,7.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118275,644315564,2022-01-02 23:57:08,xdSbyNHiYORwiK2AHYieL5UQ,False,False,CUSTOMER_MISTAKE_ERROR,Changed mind - Mistake / Error,CUSTOMER,TGO,147.49,...,False,False,False,NaN,Chennai,147.490,True,NaN,False,6.62
118276,644315682,2022-01-02 23:57:25,AYeFPGmOUyT4OIWfmTSCYikw,False,True,NaN,NaN,NaN,TGO,110.49,...,False,False,False,NaN,Coimbatore,110.490,True,NaN,False,9.90
118277,644316048,2022-01-02 23:58:05,COnO0tda5iSTa-t5dFFVTpwg,False,False,ONLINE_PAYMENT,NaN,CUSTOMER/PLATFORM,TGO,112.49,...,False,False,False,NaN,Chennai,112.490,True,NaN,False,7.36
118278,644316064,2022-01-02 23:58:07,iI6rRPz2LkRi2Ct0zTaksrOA,False,True,NaN,NaN,NaN,TGO,739.24,...,False,False,False,NaN,Chennai,739.240,True,NaN,False,5.17
118279,644316835,2022-01-02 23:59:45,no7BPkiah_Q6aFLZi2ugR4kQ,False,True,NaN,NaN,NaN,TGO,147.00,...,False,False,False,NaN,Mysore,147.000,True,NaN,False,9.04

In [ ]:
zomato_concat.to_csv('./data/zomato_preprocessed_2.csv', index=False)